.App {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.links {
  flex-grow: 1;
  overflow: auto;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.modal-select-form {
  max-height: 50vh;
  overflow: auto;
}

.category-label {
  margin-top: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0em;
  font-weight: bold;
}